body {
	background: #02010a;
	font-family: "Dancing Script", cursive;
	margin: 0px;
	padding: 1%;
	font-size: 1.1em;;
}

#contenido {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	max-width: 900px;
	width: 100%;
	height: auto;
	text-align: center;
	margin: auto;
}

header {
	display: block;
	width: 100%;
    height: auto;
	background: #5b7989;
	border-radius: 10px 10px 0px 0px;
	color: white;
	margin:0px;
	padding: 1vh 1vw;
	-webkit-animation: slidein 1s;
	-moz-animation: slidein 1s;
	-o-animation: slidein 1s;
	animation: slidein 1s;
}

h1 {
	width: 100%;
	height: auto;
	text-shadow: 2px 2px 2px #02010a;
	margin: 1%;
	padding: 0px; 
	
}
nav {
	width: 100%;
	height: auto;
	margin: 20px auto;
	padding: 1%;
}
nav a {
	color: white;
	padding: 2%;
	
}
.on {
	text-decoration: none;
}
#mainpic {
	display: block;
	width: 100%;
	height: auto;
	background: #82c3a6;
	text-align: center;
}

#fotograph img {
	width: 90%;
	height: auto;
	margin: 10px 3%;
	padding: 2%;
}

#secondpics {
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	background: #d5c75f;
}

.pics {
	width: 100%;
	height: auto;
}

.piclink img {
	width: 90%;
	height: auto;
	margin: 10px 5% 0px 5%;
	border: 1px solid black;
	padding: 0px;
}
.piclink a,.piclink a:visited { 
	color:black; 
	font-size: 1.2em;
}

#paisaje {
	-webkit-transition-property: transform, box-shadow;
	-webkit-transition-duration: 1s;
	-moz-transition-property: transform, box-shadow;
	-moz-transition-duration: 1s;
	-o-transition-property:transform, box-shadow;
	-o-transition-duration: 1s;
	transition-property:transform, box-shadow;
	transition-duration: 1s;
}
#paisaje:hover {
	transform: rotate(10deg);
	box-shadow: 2px 2px 2px #82c3a6;
}
#retrato {
	-webkit-transition-property: transform, box-shadow;
	-webkit-transition-duration: 1s;
	-moz-transition-property: transform, box-shadow;
	-moz-transition-duration: 1s;
	-o-transition-property:transform, box-shadow;
	-o-transition-duration: 1s;
	transition-property:transform, box-shadow;
	transition-duration: 1s;
}
#retrato:hover {
	transform: translate(20px,-5px);
	box-shadow: 2px 2px 2px #82c3a6;
}


#galery {
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	background: #d5c75f;
}

.photoboxes {
	width: 100%;
	height: auto;
}

.photoboxes img {
	width: 90%;
	height: auto;
	margin: 5% 5% 5% 5%;
	border: 1px solid black;
	padding: 0px;
}


footer {
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	background: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
}
.boxes {
	width: 100%;
	height: auto;
	padding: 0% 2%;
	text-align: left;
}
#redes ul {
	padding-left: 0px;
    list-style-type: none;
}
#redes ul li {
	padding: 4px 0px;
}
#redes svg {
	margin: 0px 0px -4px 0px;
}

@media (min-width: 900px) {

body{
	padding: 0px;
}

header {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	width: 100%;
    height: auto;
	background: #5b7989;
	border-radius: 10px 10px 0px 0px;
	color: white;

}

h1 {
	width: 65%;
	margin: 1%;
	text-align: left;
}

nav {
	width: 35%;
	height: auto;
	text-align: right;
}

#secondpics {
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	background: #d5c75f;
}

.pics {
	width: 50%;
	height: auto;
}

#galery {
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	background: #d5c75f;
}

.photoboxes {
	width: 33.33%;
	height: auto;
}

footer {
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	background: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
}
.boxes {
	width: 25%;
	height: auto;
	flex: 1 2 50%;
}
}

@-webkit-keyframes slidein 
{

0% { margin-top: 150%; }

60% { margin-top: -5%;  }

100% { margin-top: 0%;  }
}